<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Панель працівника</title>
    <link rel="stylesheet" href="../static/css/styleuserpanel.css">
</head>
<body>
    <div class="top"><h1>Медичний інвертар</h1></div>
 <span id="func_panel_name">Функції</span>
            <span id="data_panel_name">Інформація</span>
            <span id="finance_panel_name">Фінанси</span>
        <div class="main_panel">

            <div class="func_panel">
                <ul>
                    <li id="Add_li"><a href="/add_data">Добавити</a></li>
                    <li id="Delete_li"><a href="">Виписати</a></li>
                    <li><a href="">Редагувати</a></li>
                    <li id="Time_li"><a  href="">Термін</a> </li>

                </ul></div>
        <div class="data_panel">
            <div class="first">
                <span id="first_name">Нурофен</span>
                <span id="first_count">+25 уп.</span>
                <span id="first_type">23.09.2019</span>
            </div>


            <div class="second">
                <span id="second_name">Нурофен</span>
                <span id="second_count">-15 уп.</span>
                <span id="second_type">28.08.2019</span>
            </div>
            <div class="third">
                <span id="third_name">Ібупрофен</span>
                <span id="third_count">+15 уп.</span>
                <span id="third_type">22.08.2019</span>
            </div>
            <div class="fourth">
                <span id="fourth_name">Ібупрофен</span>
                <span id="fourth_count">-90 уп.</span>
                <span id="fourth_type">12.08.2019</span>
            </div>
            <div class="fifth">
                <span id="fifth_name">Ношпа</span>
                <span id="fifth_count">-27 уп.</span>
                <span id="fifth_type">12.08.2019</span>
            </div>
        </div>
        <div class="finance_panel">
             <ul>
                    <li id="Add_li2"><a href="/add_data">Місяць</a></li>
                    <li id="Delete_li2"><a href="">Відділення</a></li>
                    <li><a href="">Лікарство</a></li>
                    <li id="Time_li2"><a  href="">Особа</a> </li>

                </ul>
        </div>
    </div>


    </form>
</body>
</html>